
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
//   .swiper-slide img {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }

.custom-prev-button,
.custom-next-button {
  background-color: #056BF8;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.custom-prev-button:hover,
.custom-next-button:hover {
  background-color: #044a8c;
}